{% extends 'base.html.twig' %}

{% block title %}Modifier un Cours{% endblock %}

{% block body %}
    <h1>Modification du Cours</h1>

    {{ include('cours/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_cours_index') }}">Retour à la liste</a>

    {{ include('cours/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/images.js') }}"></script>
{% endblock %}
