{% extends 'base.html.twig' %}

{% block title %}Cours index{% endblock %}

{% block body %}
    <h1>Cours</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Cours</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cour in cours %}
            <tr>
                <td>{{ cour.nomCours }}</td>
                <td>
                    <a href="{{ path('app_cours_show', {'id': cour.id}) }}">Voir</a>
                    <a href="{{ path('app_cours_edit', {'id': cour.id}) }}">Modifier</a>
                </td>
            </tr>
            
        {% else %}
            <tr>
                <td colspan="3">Nous n'avons rien trouvé</td>
            </tr>
        {% endfor %}
        
        </tbody>
    </table>
    <a href="{{ path('app_cours_new') }}">Ajouter</a>
{% endblock %}
