{% extends 'base.html.twig' %}

{% block title %}Cours index{% endblock %}

{% block body %}
    <h1>Cours</h1>

    <div class="container">
        {% if is_granted('ROLE_FORMATEUR') %}
            <a href="{{ path('app_cours_new') }}">Ajouter un cours</a>
        {% endif %}
    </div>
    

    <div class="container">
        <div class="row">

            {% for cour in cours %}

                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{ path('app_cours_show', {'id': cour.id}) }}">{{ cour.nomCours }}</a></h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            {% if is_granted('ROLE_FORMATEUR') %}
                                <a href="{{ path('app_cours_edit', {'id': cour.id}) }}">Modifier</a>
                            {% endif %}       
                        </div>
                    </div>
                </div>

            {% else %}

            <span>Nous n'avons rien trouvé</span>

            {% endfor %}

        </div>
    </div>

    {% endblock %}

    