{% extends 'base.html.twig' %}

{% block title %}
	Mon profil
{% endblock %}

{% block body %}
	<style>
		.sidebar {
			color: red
		}
	</style>

	<div class="sidebar" style="margin:5vh">
		<ul>
			<li><a href="{{ path('app_user_form',{'id':app.user.id}) }}">Modifier Mon profil</a></li>
		</ul>
	</div>

{% endblock %}
