{% extends 'base.html.twig' %}

{% block title %}
	Mon profil
{% endblock %}

{% block body %}
	<style>
		.sidebar {
			color: red
		}
	</style>

	<div class="sidebar">
		<ul>
			<li>
				Envoyer un fichier
			</li>
		</ul>
	</div>
{% endblock %}
