{% extends 'base.html.twig' %}

{% block title %}
	Mon profil
{% endblock %}

{% block body %}
	<style>
		.sidebar {
			color: red
		}
	</style>

	{{ form_start(form) }}

	{{ form_row(form.name) }}

	{{ form_row(form.submit, { 'label': 'Submit me' }) }}
	{{ form_end(form) }}

	<div class="sidebar">
		<ul>
			<li>
				Envoyer un fichier
			</li>
		</ul>
	</div>
{% endblock %}
